* {
    margin: 0;
    padding: 0;
}
body {
    background: #102023;
}

input {
    font-size: 18px;
}
#hexGrid {
    overflow: hidden;
    width: 90%;
    margin: 0 auto;
    padding:0.866% 0;
    font-family: 'Raleway', sans-serif;
    font-size: 15px;
}
#hexGrid:after {
    content: "";
    display: block;
    clear: both;
}
.hex {
    position: relative;
    list-style-type: none;
    float: left;
    overflow: hidden;
    visibility: hidden;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
    -webkit-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
        -ms-transform: rotate(-60deg) skewY(30deg) translatez(-1px);
            transform: rotate(-60deg) skewY(30deg) translatez(-1px);
}
.hex * {
    position: absolute;
    visibility: visible;
    outline:1px solid transparent; /* fix for jagged edges in FF on hover transition */
}
.hexIn {
    display:block;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    -webkit-transform: skewY(-30deg) rotate(60deg);
        -ms-transform: skewY(-30deg) rotate(60deg);
            transform: skewY(-30deg) rotate(60deg);
}

/*** HEX CONTENT **********************************************************************/
.hex img {
    left: -100%;
    right: -100%;
    width: auto;
    height: 100%;
    margin: 0 auto;
}

.hex h1, .hex p {
    width: 102%;
    left:-1%; /* prevent line on the right where background doesn't cover image */
    padding: 5%;
    box-sizing:border-box;
    background-color: rgba(0, 128, 128, 0.8);
    font-weight: 300;
    -webkit-transition:  -webkit-transform .2s ease-out, opacity .3s ease-out;
            transition:          transform .2s ease-out, opacity .3s ease-out;
}
.hex h1 {
    bottom: 50%;
    padding-top:50%;
    font-size: 1.5em;
    z-index: 1;
    -webkit-transform:translateY(-100%) translatez(-1px);
        -ms-transform:translateY(-100%) translatez(-1px);
            transform:translateY(-100%) translatez(-1px);
}
.hex h1:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 45%;
    width: 10%;
    text-align: center;
    border-bottom: 1px solid #fff;
}
.hex p {
    top: 50%;
    padding-bottom:50%;
    -webkit-transform:translateY(100%) translatez(-1px);
        -ms-transform:translateY(100%) translatez(-1px);
            transform:translateY(100%) translatez(-1px);
}


/*** HOVER EFFECT  **********************************************************************/
.hexIn:hover h1, .hexIn:focus h1,
.hexIn:hover p, .hexIn:focus p{
    -webkit-transform:translateY(0%) translatez(-1px);
        -ms-transform:translateY(0%) translatez(-1px);
            transform:translateY(0%) translatez(-1px);
}

.left{
    float: left;
    width: 50%;

  position: relative;
  text-align: center;
}
.right{
    float: right;
    width: 50%;
    text-align: center;
}

.hex.first {
    width: 100%;
    margin: 20px auto;
    padding-bottom: 116%;
}

.left ul {
      position: absolute;
    left: 50%;
    width: 80%;
}
.left li {
  line-height: 25px;
  margin: 0 5px;
 float: left;
  position: relative;/*注意，这里不能是absolute，大家懂的*/
  right: 50%;
}
.left a {
  display: block;

}

.full{
    width: 100%;
    float: left;
    text-align: center;
    position: relative;
    display: block;
}

#btn1{
        
    border: #00ffff 2px solid;
    border: #00ffff 2px solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin-top: 10px;
    background: -moz-linear-gradient(top, #096e75,#1f484b 50%,#096e75);
    background: -webkit-linear-gradient(top,#096e75,#1f484b 50%,#096e75);
    background: -o-linear-gradient(top, #096e75,#1f484b 50%,#096e75);
}

.overlay{
        width: 100%;
    height: 100%;
    background: red;
    opacity: 0.5;
    z-index: 1;
}

.overlay2{
        width: 100%;
    height: 100%;

    opacity: 0.5;
    z-index: -1;
    background: -moz-radial-gradient(50% 50%, closest-corner, #096e75, #1f484b); 
/* Safari 4-5, Chrome 1-9 */
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#096e75), to(#1f484b)); 
/* Safari 5.1+, Chrome 10+ */
background: -webkit-radial-gradient(50% 50%, closest-corner, #096e75, #1f484b);
}


#hexGrid {
    padding-top: 40px;
    padding-bottom: 10px;
}

.left .hexIn {
    display: block;
    /* Firefox 3.6+ */ 
/* -moz-radial-gradient( [ || ,]? [ || ,]? , [, ]* ) */
background: -moz-radial-gradient(50% 50%, closest-corner, #096e75, #1f484b); 
/* Safari 4-5, Chrome 1-9 */
background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 100, from(#096e75), to(#1f484b)); 
/* Safari 5.1+, Chrome 10+ */
background: -webkit-radial-gradient(50% 50%, closest-corner, #096e75, #1f484b);
}

.box{
        display: block;
        width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    overflow: hidden;
    margin-left: -0.5em;
    margin-top: 1em;
}



#r1{
    margin-top: 16.66666%;
    margin-left: 0;
    width: 1em;
    height: 1em;
}


#r2{
    margin-top: 33.333333%;
    margin-left: -33.333333%;
    width: 1em;
    height: 1em;
}

#r3{
    margin-top: 33.333333%;
    margin-left: 33.333333%;
    width: 1em;
    height: 1em;
}

#r4{
    margin-top: 41.666666%;
    margin-left: -16.66666%;
    width: 1em;
    height: 1em;
}

#r5{
    margin-top: 41.666666%;
    margin-left: 16.66666%;
    width: 1em;
    height: 1em;
}

#r6{
    margin-top: 50%;
    margin-left: 0%;
    width: 1em;
    height: 1em;
}

#r7{
    margin-top: 58.444444%;
    margin-left: -16.66666%;
    width: 1em;
    height: 1em;
}

#r8{
    margin-top: 58.444444%;
    margin-left: 16.66666%;
    width: 1em;
    height: 1em;
}
#r9{
    margin-top: 66.666666%;
    margin-left: -33.333333%;
    width: 1em;
    height: 1em;
}
#r10{
    margin-top: 66.666666%;
    margin-left: 33.333333%;
    width: 1em;
    height: 1em;
}
#r11{
    margin-top: 83.333333%;
    margin-left: 0%;
    width: 1em;
    height: 1em;
}

/*** SPACING AND SIZING *****************************************************************/

/* <- 3-2  hexagons per row */
    .hex {
        width: 32.666%; /* = (100-2) / 3 */
        padding-bottom: 37.720%; /* =  width / sin(60) */
    }
    .hex:nth-child(5n+4),
    .hex:nth-child(5n+5) {
        margin-top: -8.564%;
        margin-bottom: -8.564%;
        -webkit-transform: translateX(50%) rotate(-60deg) skewY(30deg);
            -ms-transform: translateX(50%) rotate(-60deg) skewY(30deg);
                transform: translateX(50%) rotate(-60deg) skewY(30deg);
    }
    .hex:nth-child(5n+4):last-child,
    .hex:nth-child(5n+5):last-child {
        margin-bottom: 0;
    }
    .hex:nth-child(5n+4) {
        margin-right: 1%;
        margin-left: 0.5%;
    }
    .hex:nth-child(5n+2) {
        margin-left: 1%;
        margin-right: 1%;
    }
    .hex:nth-child(5n+6) {
        clear: left;
    }



